<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Email Template</title>
	</head>
	<body>
		<table width="100%" border="0" cellspacing="0" cellpadding="0" style="max-width:600px;">
			<tr>
				<td align="center" style="padding:0 0 0px;"><img src="careplanLogo" alt="" /></td>
			</tr>
			<tr>
				<td align="center" style="padding:0px 0px;">
                <div style="padding:30px; background:#f7f7f7;">
                <div style="font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:22px; color:#585858; text-align:left;">Dear <strong style="text-transform:capitalize;">@name</strong>,
									<br><br>
					Thank you for your interest in our services. Our team will contact you soon with a detailed explanation of the services that fits your business need.<br>
					<br>
					Thanks again for your inquiry.<br>
						<br>
					Sincerely,<br>
					&lt;/&gt;RentCoder Support Team 
				</div>
                </div>
                </td>
			</tr>
			<tr>
			<td>&nbsp;</td>
			</tr>
			<tr>
				<td align="center" style="font-size:12px; color:#999; padding:15px 0 0; font-family:Arial, Helvetica, sans-serif;">Copyright 2017 Oath Tech India Pvt Ltd. All rights reserved.</td>
			</tr>
		</table>
	</body>
</html>