<!DOCTYPE html>
<html lang="en" ng-app="OathTechApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>RentCoder</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Metirial design CSS -->
    <link href="css/mdb.min.css" rel="stylesheet">
     <link href="css/compiled.min.css" rel="stylesheet">
    <link href="css/angular-material.min.css" rel="stylesheet"> 
  
    <!-- Custom CSS -->
    <link href="css/style.css" rel="stylesheet">

    <!-- Block-UI CSS -->
    <link rel="stylesheet" type="text/css" href="css/blockUI.css">
    <link rel="stylesheet" type="text/css" href="css/block-ui.css">

    <!-- Custom Fonts -->
    <link href="font/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!--This is for toaster notifications-->
    <link href="css/toaster.min.css" rel="stylesheet" />
</head>

<body class="reg-page-main">
   
    <div ng-view autoscroll="true"></div>

    <!-- LIBRARIES -->
    <!-- jQuery -->
    <script type="text/javascript" src="js/libraries/jquery-2.2.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script type="text/javascript" src="js/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/libraries/bootstrap-datepicker.js"></script>

    <!-- Metirial design JavaScript -->
    <script type="text/javascript" src="js/libraries/mdb.min.js"></script>
    <script type="text/javascript" src="js/libraries/tether.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script type="text/javascript" src="js/libraries/angular.min.js"></script>
    <script type="text/javascript" src="js/libraries/angular-route.min.js"></script>
    <script type="text/javascript" src="js/libraries/angular-resource.min.js"></script>
    <script type="text/javascript" src="js/libraries/angular-animate.min.js"></script>
    <script type="text/javascript" src="js/libraries/angular-aria.min.js"></script>
    <script type="text/javascript" src="js/libraries/angular-material.min.js"></script>
    <script type="text/javascript" src="js/libraries/angular-messages.min.js"></script>
    <script src="js/libraries/toaster.min.js"></script>
    <script type="text/javascript" src="js/libraries/angular-idle.min.js"></script>


    <script type="text/javascript" src="js/libraries/dist.min.js"></script>
    <script type="text/javascript" src="js/libraries/moment.min.js"></script>
    <script type="text/javascript" src="js/libraries/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="js/libraries/script.min.js"></script>
    <script type="text/javascript" src="js/libraries/picker.js"></script>
    <script type="text/javascript" src="js/libraries/fullcalendar.js"></script>
    <script type="text/javascript" src="js/libraries/ui-bootstrap-tpls.js"></script>

    <!-- APPLICATION FILE -->
    <script type="text/javascript" src="js/app.js"></script>
    <!-- SERVICES -->
    <script type="text/javascript" src="js/services/app.service.js"></script>
   
     <script type="text/javascript" src="js/services/repository.service.js"></script>
        <!-- COMMON CONTROLLER -->
    <script type="text/javascript" src="js/controllers/common/base.controller.js"></script>

    <!-- HOME CONTROLLER -->
    <script type="text/javascript" src="js/controllers/home/register.controller.js"></script>

    <!-- angular-block-ui Controller -->
    <script type="text/javascript" src="js/controllers/admin/angular-block-ui.js"></script>
    <script src="js/libraries/angular-touch.js"></script>
    <!-- UI-GRID LIBRARIES-->
    <script src="js/libraries/ui-grid.js"></script>
    <script src="js/libraries/vfs_fonts.js"></script>
    <!-- PAGINATION LIBRARIES -->
    <script type="text/javascript" src="js/libraries/dirPagination.js"></script>

    <toaster-container class="toast-top-full-width"></toaster-container>

</body>

</html>